# OS / editor
.DS_Store
*.swp
.vscode/
__pycache__/

# Log analysis data/results
log-analysis/loghub/
log-analysis/src/results/

# Wazuh build artifacts (optional)
wazuh-docker/build-docker-images/

# Main gitignore for Cybersecurity_projects


# Ignore everything under wazuh-docker except single-node
wazuh-docker/*
!wazuh-docker/single-node/
!wazuh-docker/single-node/**
